@charset "UTF-8";
.writeBox{
	display: inline-block;
	position: relative;
	background: #C7C4E2;
	border: 5px solid #9B95C9;
	border-radius: 10px;
}
.writeBox:after{
	content: '';
	position: absolute;
	border-top: 45px solid #C7C4E2;
	border-right: 23px solid transparent;
	border-left: 23px solid transparent;
	bottom: -40px;
	text-align: center;
}
.writeBox:before{
	content: '';
	position: absolute;
	border-top: 47px solid #9B95C9;
	border-right: 24px solid transparent;
	border-left: 24px solid transparent;
	bottom: -45px;
	text-align: center;
	z-index: -1;
}
.cantWriteBox{
	display: inline-block;
	position: relative;
	background: #C5C8CB;
	border: 2px solid #949699;
	border-radius: 10px;
}