@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

div {
}
#photo{
	width:100%;	height:100%;
}
#contents {
	width: 100%;
}

#contentTitle {
	width: 100%;
	height: 100px;
	border-bottom: 1px solid lightgrey;
	font-size: 40px;
	padding-left: 50px;
	line-height: 80px;
	font-weight:bold;
}

#contentTop {
	width: 700px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	border-bottom: 3px solid RGB(245, 245, 245);
}

#contentTop1 {
	margin-bottom: 70px;
}

#contentTop1>p {
	color: grey;
	font-weight: bold;
	font-size: 16px;
}

#summary {
	margin-top: 50px;
	height: 70px;
	background-color: RGB(229, 242, 249);
	color: RGB(0, 125, 195);
	padding-top:10px;
	padding-left: 20px;
	margin-bottom: 50px;
	font-size:18px;
	line-height:250%;
}

#mainInfo {
	height: 220px;
	margin-bottom: 25px;
}

#mainInfo>div {
	float: left;
}

#mainInfo>div:first-child {
	width: 40%;
	height: 100%;
}

#mainInfo>div:last-child {
	width: 60%;
	height: 100%;
	padding-top:10px;
	padding-left:20px;
	font-size:15px;
	line-height:23px;
	text-indent: 10px;
}

#reserve {
	height: 40px
}

#reserve>button {
	width: 80px;
	height: 100%;
	margin-left: 45%;
	background-color: RGB(0, 125, 195);
	border: RGB(0, 125, 195);
	border-radius: 5px;
	color: white;
	font-weight: bold;
	cursor:pointer;
}

#contentTop2 {
	margin-bottom: 35px;
}

#contentTop2>p:first-child {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 20px;
	color: gray;
}

#courseInfo {
	height: 240px;
	background-color: RGB(245, 245, 245);
	margin-bottom: 7px;
	padding: 20px;
	padding-top: 30px;
}

#courseInfo>p {
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 14px;
}

#courseInfo>div {
	margin-bottom: 20px;
	font-size: 14px;
	text-indent: 10px;
	line-height:20px;
}

#contentTop2>p:last-child {
	font-size: 14px;
	color: rgb(0, 125, 195);
}

#contentBottom {
	width: 100%;
}

#subInfo {
	width: 700px;
	margin: auto;
}

#subInfo>p:first-child {
	color: gray;
	font-weight: bold;
	margin-bottom: 15px;
}

#subInfo>div>p {
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 10px;
}

#subInfo>div>div {
	height: 225px;
	margin-bottom: 50px;
}

#subInfo>div>div>div:first-child {
	width: 40%;
	height: 100%;
	float: left;
}
#subInfo>div>div>div:first-child>img {
	width: 100%;
	height: 100%;
}

#subInfo>div>div>div:last-child {
	width: 60%;
	height: 100%;
	float: left;
	padding-left:20px;
	padding-top:10px;
	font-size:15px;
	text-indent: 10px;
	line-height:23px;
}

#additional {
	width: 700px;
	/* height: 350px; */
	margin: auto;
	/* margin-bottom: 50px; */
}


#commentt{
	margin:auto;
	margin-top: 30px;
	width: 700px;
	height: 65px;
	font-size: 25px;
	line-height: 40px;
	padding-left: 10px;
	background-color: RGB(245, 245, 245);
	border-top:3px solid black;
	
}

#comment {
	width: 700px;
	height: 240px;
	margin: auto;
	background-color: RGB(245, 245, 245);
}

textarea {
	margin: auto;
	width: 530px;
	height: 180px;
	display: block;
}

#comment>input {
	width: 70px;
	height: 30px;
	float: right;
	margin-top: 5px;
	margin-right: 85px;
}


#commentList{
	width: 635px;
	margin:auto;
	margin-top:50px;
	margin-bottom:20px;
	border-top:1px solid lightgrey;
	border-bottom:1px solid lightgrey;
	padding:30px;
	overflow:auto;
	
}

#commentList>div:not(#noComment){
	width:90%;	height:100px;	margin:auto;
	border-bottom:1px solid lightgrey;
	margin-bottom:20px;
}
#commentTitle{
	width:100%;
	height:20%;
}
#commentTitle>div:first-child{
	width:15%;	height:100%;
	float:left;
	font-weight:bold;
}

#commentTitle>div:last-child{
	width:85%;	height:100%;
	float:left;
	color:grey;
}

#commentContent{
	width:100%;	height:80%;
	padding-top:10px;
	overflow:auto;
}

#noComment{
	font-size:40px;
	text-align:center;
}

#navi {
	margin-left: 40%;
}
#navi>a{
	font-size:20px;
}
#navi>a>b{
	font-size:20px;
}

#back{
	width:100%;
	height:50px;
}
#back>button{
	width:100px;
	height:40px;
	margin-left:45%;
	background-color:RGB(0, 125, 195);
	border:0;
	color:white;
	font-size:15px;
	border-radius:5px;
	cursor:pointer;
}
