@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

div {
}
#photo{
	width:100%;	height:100%;
}
#contents {
	width: 100%;
	margin-bottom: 50px;
}

#contentTitle {
	width: 100%;
	height: 100px;
	border-bottom: 1px solid lightgrey;
	font-size: 40px;
	padding-left: 50px;
	line-height: 80px;
}

#contentTop {
	width: 700px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	border-bottom: 3px solid RGB(245, 245, 245);
}

#contentTop1 {
	margin-bottom: 70px;
}

#contentTop1>p {
	color: grey;
	font-weight: bold;
	font-size: 16px;
}

#summary {
	margin-top: 50px;
	height: 70px;
	background-color: RGB(229, 242, 249);
	color: RGB(0, 125, 195);
	padding: 20px;
	margin-bottom: 50px;
}

#mainInfo {
	height: 220px;
	margin-bottom: 25px;
}

#mainInfo>div {
	float: left;
}

#mainInfo>div:first-child {
	width: 40%;
	height: 100%;
}

#mainInfo>div:last-child {
	width: 60%;
	height: 100%;
}

#reserve {
	height: 40px
}

#reserve>button {
	width: 80px;
	height: 100%;
	margin-left: 45%;
	background-color: RGB(0, 125, 195);
	border: RGB(0, 125, 195);
	border-radius: 5px;
	color: white;
	font-weight: bold;
	cursor:pointer;
}

#contentTop2 {
	margin-bottom: 35px;
}

#contentTop2>p:first-child {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 20px;
	color: gray;
}

#courseInfo {
	height: 240px;
	background-color: RGB(245, 245, 245);
	margin-bottom: 7px;
	padding: 20px;
	padding-top: 30px;
}

#courseInfo>p {
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 14px;
}

#courseInfo>div {
	margin-bottom: 20px;
	font-size: 14px;
}

#contentTop2>p:last-child {
	font-size: 14px;
	color: rgb(0, 125, 195);
}

#contentBottom {
	width: 100%;
}

#subInfo {
	width: 700px;
	margin: auto;
}

#subInfo>p:first-child {
	color: gray;
	font-weight: bold;
	margin-bottom: 15px;
}

#subInfo>div>p {
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 10px;
}

#subInfo>div>div {
	height: 225px;
	margin-bottom: 50px;
}

#subInfo>div>div>div:first-child {
	width: 40%;
	height: 100%;
	float: left;
}
#subInfo>div>div>div:first-child>img {
	width: 100%;
	height: 100%;
}

#subInfo>div>div>div:last-child {
	width: 60%;
	height: 100%;
	float: left;
}

#additional {
	width: 700px;
	/* height: 350px; */
	margin: auto;
	/* margin-bottom: 50px; */
}

#comment {
	width: 700px;
	height: 240px;
	margin: auto;
	background-color: RGB(245, 245, 245);
	margin-top: 30px;
}

textarea {
	margin: auto;
	margin-top: 20px;
	width: 530px;
	height: 180px;
	display: block;
}

#comment>input {
	width: 70px;
	height: 30px;
	float: right;
	margin-top: 5px;
	margin-right: 85px;
}