*{margin:0;padding:0;}
a{color:black;}
#template_header{
	width:50px;
	height:100%;
	position:fixed;
	border-right:1px solid #ddd;
	background-color:white;
}
.sidenav-trigger>img{
	margin-left:5px;
	margin-top:10px;
	margin-bottom:5px;
	padding:3px;
	height:36px;
}
section{
	margin-left:51px;
}

/* desktop */
#main_logo{
	width:70%;
	margin:7%;
}

/* responsive web - mobile */
@media (max-width:767px){
	#main_logo{
		display:none;
	}
	#login_join{
		display:none;
	}
	.btn{
		width:100%;
		background-color:#b43029;
	}
	.btn:link, .btn:visited, .btn:hover, .btn:active{
		background-color:#b43029;
	}
}

/* responsive web - desktop */
@media (min-width:768px){
	#fixed_login{
		display:none;
	}
}