*{margin:0;padding:0;}
a{color:black;}
#template_header{
	width:50px;
	height:100%;
	position:fixed;
	border-right:1px solid #ddd;
	background-color:white;
}
.sidenav-trigger>img{
	margin-left:5px;
	margin-top:10px;
	margin-bottom:5px;
	padding:3px;
	height:36px;
}
section{
	margin-left:51px;
}

/* desktop */
#main_logo{
	width:70%;
	margin:7%;
}
.login_before{
	float:left;
	width:150px;
	padding-bottom:30px;
	line-height:100%;
}
.login_left{
	text-align:right;
	padding-right:15px;
	height:40px;
	line-height:40px;
}
.login_right{
	text-align:left;
	padding-left:15px;
	height:40px;
	line-height:40px;
}
.main_search{
	width:20px;
	cursor:pointer;
	float:right;
	position:relative;
	bottom:38px;
	right:12px;
}
.main_category{
	cursor:pointer;
	line-height:48px;
	padding-left:15px;
	border-left:3px solid #fff;
}
.main_category:hover{
    border-left:3px solid #b43029;
    background-color:rgba(0,0,0,0.05);
}
.main_sub_category>li{
	cursor:pointer;
	line-height:48px;
	padding-left:20px;
}
.main_sub_category>li:hover{
    background-color:rgba(0,0,0,0.05);
}


/* responsive web - mobile */
@media (max-width:767px){
	#main_logo{
		display:none;
	}
	#login_join{
		display:none;
	}
	.search-wrapper{
		display:none;
	}
	.btn{
		width:100%;
		background-color:#b43029;
	}
	.btn:link, .btn:visited, .btn:hover, .btn:active{
		background-color:#b43029;
	}
}

/* responsive web - desktop */
@media (min-width:768px){
	#fixed_login{
		display:none;
	}
}

/* footer */
footer{
	background-color:black;
	color:white;
	padding:5px;
	text-align:Center;
}