<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>test</title>
    <link rel="stylesheet" href="../../css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Great+Vibes" rel="stylesheet">
  	<script src="../../js/jquery-3.3.1.min.js"></script>
	<script src="../../js/main.js"></script>	
</head>
<body id="scroll">
    <header>
        <img src="../../image/menu.png" id="menu_icon" onclick="menu();">
        <a href="http://localhost"><img src="../../image/logo.jpg" id="logo"></a>
		<ul>
			<li class="toggle menu_one"><a href="#">하이라이트</a>
			<ul class="sub_menu_one">
			    <li><a href="">Top 10</a></li>
			    <li><a href="">축제&amp;행사</a></li>
			    <li><a href="">서울 특화관광</a></li>
			    <li><a href="">한류관광</a></li>
			    <li><a href="">글로벌 서울 메이트</a></li>
			</ul>
			</li>
			<li class="toggle menu_two"><a href="#">서울즐기기</a>
            <ul class="sub_menu_two">
			    <li><a href="">추천코스</a></li>
			    <li><a href="">명소</a></li>
			    <li><a href="">쇼핑</a></li>
			    <li><a href="">숙박</a></li>
			    <li><a href="">음식점</a></li>
			    <li><a href="">캘린더</a></li>
			</ul>
			</li>
			<li class="toggle menu_three"><a href="#">예약하기</a>
            <ul class="sub_menu_three">
			    <li><a href="">공연예약</a></li>
			    <li><a href="">호텔예약</a></li>
			    <li><a href="">서울도보관광예약</a></li>
			</ul>			
			</li>
			<li class="toggle menu_four"><a href="#">여행준비</a>
			<ul class="sub_menu_four">
			    <li><a href="">가이드북&amp;지도</a></li>
			    <li><a href="">여행필수정보</a></li>
			    <li><a href="">서비스 안내</a></li>
			    <li><a href="">비즈니스&amp;파트너</a></li>
			    <li><a href="">서울관광 이미지 다운로드</a></li>
			    <li><a href="">FAQ</a></li>
			    <li><a href="">공지사항</a></li>
			</ul>
			</li>
		</ul>
	</header>
    <section>
       
        <div class="section1" style="position:relative;">
            <h1 style="font-size:6.8rem; position:absolute; left:110px; top:255px; color:white;">Hello!</h1>
            <p style="font-size:2.4rem; position:absolute; left:123px; top:377px; color:white; font-family: 'Great Vibes', cursive;">Welcom to Seoul</p>
        </div>
        <div style="width:700px; height:470px; background-color:#b43029; position:absolute; right:0; bottom:-220px; color:white;">
            <h2 style="padding:20px; font-size:2.3rem; font-weight: bold; margin-left:20px;">서울을 방문해야 하는 이유</h2>
            <hr style="background-color:white; height:5px; width:55px; margin-left:20px;">
            <p style="margin-left:40px;margin-top:20px;margin-right:40px; font-size:14px;line-height:1.7;">전통과 현대가 공존하는 도시 서울. 역사 유적, 조선시대 궁궐부터 최신 유행의 쇼핑 타운과 랜드마크까지 화려한 도시 라이프와 고즈넉한 전통의 멋을 취향에 따라 즐길 수 있다.</p>
            <p style="margin-left:40px;margin-top:20px;margin-right:40px; font-size:14px;line-height:1.7;">CNN은 "서울에서 밤에 잠자는 사람은 루저"라고 했다. 잠자는 시간이 아까울 정도로 즐길거리가 많기 때문이다. 화려한 불빛과 함께 밤이 시작되면 낮과는 또다른 도시의 야경을 감상하고, 24시간 환한 쇼핑몰과 찜질방, 클럽과 바를 즐긴다. 시원한 강바람을 맞으며 자전거를 타고 출출해지면 푸짐하고 맛있는 야식을 먹는다. 잠들지 않는 서울의 밤은 낮과는 또 다른 매력으로 반짝반짝 빛나는 세계가 된다.</p>
            <p style="margin-left:40px;margin-top:20px;margin-right:40px; font-size:14px;line-height:1.7;">한류 열풍으로 세계 곳곳의 대중들이 한국 음악, 드라마, 영화, 그리고 뮤지컬을 통해 서울의 매력을 느끼고 있습니다.</p>
            <a href="" style="color:white; font-size:16px; font-weight:bold;margin-top:40px; display:block;margin-left:40px;">하이라이트 바로가기</a>
            <hr style="background-color:white; height:2px; width:75px; margin-left:40px;margin-top:10px;">
        </div>
        <div class="section2"></div>
        <div class="section3"></div>
        <div class="section4"></div>
	</section>
    <footer>© 2018 SEOULAIM. ALL RIGHTS RESERVED.</footer>		
</body>
</html>