@charset "UTF-8";
*{
	margin:0;	padding:0;
	box-sizing:border-box;
}


#wrap{
	width:100%;	height:700px;
	margin:auto;
	
	
}

#wrap>label:first-child{
	display:block;
	width:100%;	height:10%;
	font-size:40px;
	padding-top:15px;
	text-align:center;
	background-color:rgb(0,125,195);
	color:white;
	font-weight:bold;
}

#wrap>form{
	width:90%;	height:90%;
	margin:auto;
	margin-top:70px;
}

#wrap>form>div>label{
	line-height:200%;
}

#time{
	width:150px;
	height:30px;
}

#dated{
	height:10%;	width:90%;
	margin-left:5%;
	margin-top:5%;
}

#dated>label{
	display:block;
	width:30%;	height:100%;
	color:lightgrey;
	float:left;
	font-size:30px;
}
#datepicker1{
	width:70%;	height:100%;
	font-size:30px;
	text-align:center;
	color:lightgrey;
}

#timed{
	height:10%;	width:90%;
	margin-left:5%;
	margin-top:8%;
}

#timed>label{
	display:block;
	width:30%;	height:100%;
	color:lightgrey;
	float:left;
	font-size:30px;
}

#time{
	width:70%;	height:100%;
	font-size:30px;
	text-align-last:center;
	color:lightgrey;
}

#peopled{
	height:10%;	width:90%;
	margin-left:5%;
	margin-top:8%;
}

#peopled>label{
	display:block;
	width:30%;	height:100%;
	color:lightgrey;
	float:left;
	font-size:30px;
}

#people{
	width:70%;	height:100%;
	font-size:30px;
	text-align:center;
	color:lightgrey;
	text-align-last:center;
}

#priced{
	height:10%;	width:90%;
	margin-left:5%;
	margin-top:8%;
}

#priced>label:first-child{
	display:block;
	width:30%;	height:100%;
	color:lightgrey;
	float:left;
	font-size:30px;
}

#price{
	display:block;
	width:70%;	height:100%;
	font-size:30px;
	text-align:center;
	float:left;
	color:lightgrey;
}

#submit{
	width:150px;	height:50px;
	margin-left:300px;
	margin-top:50px;
	background-color:rgb(0,125,195);
	font-size:20px;
	font-weight:bold;
	border-radius:10px;
	cursor:pointer;
	color:white;
	border:0;
}
