@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


div {
}

#contents {
	width: 100%;
}

#contentTitle {
	width: 100%;
	height: 100px;
	border-bottom: 1px solid lightgrey;
	font-size: 40px;
	padding-left: 50px;
	line-height: 80px;
	background-color:rgb(0,125,195);
	color:white;
}

#contentTop {
	width: 950px;
	height: 455px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 30px;
}

#info {
	width: 630px;
	height: 100%;
	float: left;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
}

#poster {
	width: 55%;
	height: 100%;
	float: left;
}

#reserveInfo {
	width: 45%;
	height: 100%;
	float: left;
}

dl {
	padding-top: 15px;
}

dt {
	width: 70px;
	display: block;
	float: left;
	color: gray;
	font-size: 14px;
}

dd {
	width: 300px;
	height: 40px;
	display: block;
	padding-left: 100px;
	font-weight: bold
}

dl>hr {
	margin-bottom: 15px;
}

#reserve {
	width: 285px;
	height: 100%;
	float: right;
	background-color: rgb(0,125,195);
}

#reserve>div:first-child {
	height: 10%;
	padding: 10px;
	color: white;
	font-weight: bold;
	font-size:18px;
}

#reserveDate {
	height: 10%;
	padding: 10px;
	color: white;
	font-weight: bold;
	font-size:18px;
}

#reserveBtn {
	height: 20%;
	padding-left: 20px;
	padding-top: 17px;
}

#reserveBtn>button {
	color: white;
	background-color:rgb(0,125,195);
	border: 2px solid white;
	font-size: 40px;
	padding: 10px;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 10px;
	cursor:pointer;
}

#contentBottom {
	width: 100%;
}

#contentBottom>div {
	width: 950px;
	margin: auto;
}

#basicInfo {
	width: 635px;
	height: 55px;
	border-top: 3px solid black;
	background-color: RGB(245, 245, 245);
	font-size: 25px;
	line-height: 40px;
	padding-left: 10px;
}

#basicInfo:hover {
	cursor: pointer;
}

#basicInfoContent {
	width: 635px;
	font-weight: bold;
	display: none;
	padding-top: 10px;
	padding-left: 10px;
	overflow:auto;
}

#map {
	width: 635px;
	height: 55px;
	border-top: 3px solid black;
	background-color: RGB(245, 245, 245);
	font-size: 25px;
	line-height: 40px;
	padding-left: 10px;
	margin-top: 30px;
}

#map:hover {
	cursor: pointer;
}

#mapContent {
	width: 645px;
	height: 400px;
	margin-top: 20px;
	display: none;
}

#basicInfo>div {
	float: right;
	padding-right: 10px;
}

#phone{
	width:100%;
	height:20%;
}

#basicInfoContent>div>div{
	float:left;
}

#basicInfoContent>div{
	border-top:0.5px solid lightgrey;
}

#basicInfoContent>pre:first-child{
	margin-top:20px;
	margin-bottom:20px;
}

#basicInfoContent>div>div:first-child{
	width:30%;
	height:100%;
	background-color:rgb(245,245,245);
	text-align:center;
	line-height:300%;
}

#phone{
	width:100%;
	height:50px;
}

#site{
	width:100%;	height:50px;
}



#traffic{
	width:100%;	height:200px;
}
#traffic>div{
	margin-right:20px;
}

#traffic>pre{
	display:block;
	width:70%;	height:100%;
	/* float:left; */
	padding-top:10px;
	
}


#basicInfoContent>div>div:last-child{
	width:70%;	height:100%;
	padding-left:20px;
	line-height:350%;
}


#map>div {
	float: right;
	padding-right: 10px;
}


#commentt{
	margin-top: 30px;
	width: 635px;
	height: 65px;
	font-size: 25px;
	line-height: 40px;
	padding-left: 10px;
	background-color: RGB(245, 245, 245);
	border-top:3px solid black;
}

#comment {
	width: 635px;
	height: 240px;
	background-color: RGB(245, 245, 245);
	
}

textarea {
	margin-left: 50px !important;
	width: 530px !important;
	height: 180px !important;
	display: block;
}

#comment>input {
	width: 70px;
	height: 30px;
	float: right;
	margin-top: 5px;
	margin-right: 50px;
	background-color:rgb(0,125,195);
	color:white;
	border:0;
	cursor:pointer;
	border-radius:5px;
}

#commentList{
	width: 635px;
	margin-top:50px;
	margin-bottom:20px;
	border-top:1px solid lightgrey;
	border-bottom:1px solid lightgrey;
	padding:30px;
	overflow:auto;
}

#commentList>div:not(#noComment){
	width:90%;	height:100px;	margin:auto;
	border-bottom:1px solid lightgrey;
	margin-bottom:20px;
}
#commentTitle{
	width:100%;
	height:20%;
}
#commentTitle>div:first-child{
	width:15%;	height:100%;
	float:left;
	font-weight:bold;
}

#commentTitle>div:last-child{
	width:85%;	height:100%;
	float:left;
	color:grey;
}

#commentContent{
	width:100%;	height:80%;
	padding-top:10px;
	overflow:auto;
}

#noComment{
	font-size:40px;
	text-align:center;
}

#navi {
	margin-left: 40%;
}
#navi>a{
	font-size:20px !important;
	cursor:pointer;
	margin-right:10px;
}
#navi>a>b{
	cursor:pointer;
	margin-right:10px;
	font-size:20px !important;
}
#back{
	width:100%;
	height:50px;
}
#back>button{
	width:100px;
	height:40px;
	margin-left:35%;
	background-color:rgb(0,125,195);
	border:0;
	color:white;
	font-size:15px;
	border-radius:5px;
	cursor:pointer;
}

#pp::before{
	content:"₩";
}
